<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><h:outputText value="Exemplo SessionBean"></h:outputText></title>
    </h:head>
    <h:body>
        <h1>
            <h:outputText value="Exemplo SessionBean"></h:outputText>
        </h1>
        <p>

            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Nome" for="nome" />
                    <h:inputText id="nome" value="#{controlador.pessoa.nome}" />
                </h:panelGrid>
                <br />
                <h:commandButton action="#{controlador.salvar}" value="Salvar" />
            </h:form>


        </p>


        <h:dataTable value="#{controlador.pessoas}" var="item" border="1">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Id"/>
                </f:facet>
                <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Nome"/>
                </f:facet>
                <h:outputText value="#{item.nome}"/>
            </h:column>

        </h:dataTable>

    </h:body>
</html>

